@model  KavisWeb.Entities.Views.ViewGostergeGirisModel

@{
    ViewBag.Title = "BirimGosterge";

    List<SelectListItem> birimListe = ViewBag.BirimSelectList as List<SelectListItem>;

    int aktifYil = ViewBag.AktifYil ?? 0;

    if (Model.Birim != null && Model.Birim.Kurum != null && !Model.Birim.Kurum.GostergeGirisAcik)
    {
        aktifYil = 0;
    }


}
<style type="text/css">

    .sp div {
        border: solid 1px black;
        margin-bottom: 10px;
    }

    td.aktifYil {
        background-color: white;
    }
</style>


@if (ViewBag.BirimListesiGoster != null && ViewBag.BirimListesiGoster)
{
    <div class="row mt-4 mb-4">
        <div class="col">
            <div class="form-group">
                <label for="id">Birim</label>
                @*//Kurum girişi yapıldıysa seçili birim id'sini burada görelim*@
                @Html.DropDownList("id", birimListe, "SEÇİNİZ", new { @class = "form-control" })
            </div>

        </div>
    </div>
}
else
{
    //Birim elemanı girdiyse birimin id'si burada
    <input type="hidden" value="@Model.Birim.Id" name="id" id="id" />
}

<h4>Sorumlu Olduğunuz Stratejik Plan Öğeleri</h4>
<br />
@if (!String.IsNullOrEmpty(ViewBag.Hata))
{
    <div class="alert alert-danger">
        <p><span class="fa fa-error"></span>@ViewBag.Hata</p>
    </div>
}


@if (Model.Birim != null && Model.Birim.Kurum != null && !Model.Birim.Kurum.GostergeGirisAcik)
{
    <div class="alert alert-danger">
        Girişler kapalı
    </div>
}

<br>
<div class="sp">
    @if (Model.Plan != null && Model.Plan.Amaclar != null)
    {
        foreach (var amac in Model.Plan.Amaclar)
        {
            <div class="amac"><strong>AMAÇ</strong> @amac.SiraNo @amac.Baslik</div>
            foreach (var hedef in amac.Hedefler)
            {
                <div class="hedef"><strong>HEDEF</strong> @hedef.SiraNo @hedef.Baslik </div>
                <table class="table table-bordered table-dar table-sm table-striped table-info ">
                    <thead>
                        <tr>
                            <td colspan="20"><h4 class="text-center">GÖSTERGELER</h4></td>
                        </tr>
                        <tr>
                            <th width="45%" rowspan="2">GÖSTERGE ADI</th>
                            <th rowspan="2">Hedef Etkisi</th>
                            <th rowspan="2">Başlangıç</th>
                            <th colspan="2">2019</th>
                            <th colspan="2">2020</th>
                            <th colspan="2">2021</th>
                            <th colspan="2">2022</th>
                            <th colspan="2">2023</th>
                            <th rowspan="2">İzleme<br>Sıklığı</th>
                            <th rowspan="2">Rapor<br>Sıklığı</th>
                        </tr>
                        <tr>
                            <th style="height:2px;">P</th>
                            <th>G</th>
                            <th>P</th>
                            <th>G</th>
                            <th>P</th>
                            <th>G</th>
                            <th>P</th>
                            <th>G</th>
                            <th>P</th>
                            <th>G</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var gosterge in hedef.Gostergeler)
                        {

                            <tr>
                                <td>@gosterge.Kod @gosterge.Baslik</td>
                                <td>@gosterge.HedefeEtkisi</td>
                                <td>@gosterge.Baslangic</td>
                                <td>@gosterge.Yil1</td>
                                <td @(aktifYil == 1 ? "class=aktifYil data-id=" + gosterge.Id : "")>@gosterge.Yil1G</td>
                                <td>@gosterge.Yil2</td>
                                <td @(aktifYil == 2 ? "class=aktifYil data-id=" + gosterge.Id : "")>@gosterge.Yil2G</td>
                                <td @gosterge.Yil3></td>
                                <td @(aktifYil == 3 ? "class=aktifYil data-id=" + gosterge.Id : "")>@gosterge.Yil3G</td>
                                <td>@gosterge.Yil4</td>
                                <td @(aktifYil == 4 ? "class=aktifYil data-id=" + gosterge.Id : "")>@gosterge.Yil4G</td>
                                <td>@gosterge.Yil5</td>
                                <td @(aktifYil == 5 ? "class=aktifYil data-id=" + gosterge.Id : "")>@gosterge.Yil5G</td>
                                <td>@gosterge.Izleme</td>
                                <td>@gosterge.Rapor</td>
                            </tr>

                        }
                    </tbody>
                </table>

                foreach (var strateji in hedef.Stratejiler)
                {
                    <div class="strateji">@strateji.SiraNo @strateji.Baslik</div>
                }
            }
        }
    }

</div>


@if (Model.Plan != null)
{
    <button class="btn btn-primary" id="btn-birim-gosterge-save"> Kaydet</button>
}


@section scripts {


    <script type="text/javascript">

        var aktifYil = @(ViewBag.AktifYil??0);

        $(function () {

            $('td.aktifYil').attr("contenteditable", "true").css("background-color", "#fef2ae");



            $('#btn-birim-gosterge-save').on("click", function () {

                let data = [];

                let birim = $("#id").val();

                $('td.aktifYil').each(function (i, v) {
                    let id = $(v).data("id");
                    let val = $(v).text();
                    let yil = aktifYil;
                    data.push({ GostergeId: id, Value: val, Yil: aktifYil });
                });

                api_post("/api/BirimGostergeler", { Items: data, BirimId: birim }, function (d) {
                    if (d.Success) {
                        successMessage("Kayıt Yapıldı");
                    } else {
                        errorMessage("Kaydedilemedi:" + d.Message);
                    }
                });

            });


            $('#id').change(function () {
                let birimId = $(this).val();
                window.location = "/Birim/Gosterge/" + birimId;
            });





        });

    </script>

}