@model  KavisWeb.Entities.DbModels.StratejikPlan
@{
    ViewBag.Title = "Gostergeler";
}

<h2>Gösterge Tablosu</h2>


<table class="table table-bordered table-dar table-sm">
    <thead>
        <tr>
            <th rowspan="2">&nbsp;</th>
            <th rowspan="2">Sorumlu Birim</th>
            <th rowspan="2">Hedef Etkisi</th>
            <th rowspan="2">Başlangıç</th>
            <th colspan="2">2019</th>
            <th colspan="2">2020</th>
            <th colspan="2">2021</th>
            <th colspan="2">2022</th>
            <th colspan="2">2023</th>
            <th rowspan="2">İzleme<br>Sıklığı</th>
            <th rowspan="2">Rapor<br>Sıklığı</th>
        </tr>
        <tr>
            <th style="height:2px;">P</th>

            <th>G</th>
            <th>P</th>
            <th>G</th>
            <th>P</th>
            <th>G</th>
            <th>P</th>
            <th>G</th>
            <th>P</th>
            <th>G</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var amac in Model.Amaclar)
        {
            foreach (var hedef in amac.Hedefler)
            {
                <tr>
                    <td class="hedef" colspan="20" style="padding:0 10px">HEDEF @hedef.Kod - @hedef.Baslik </td>
                </tr>

                foreach (var gosterge in hedef.Gostergeler)
                {
                    <tr class="performans-gosterge">
                        <td>Performans G.@gosterge.Kod @gosterge.Baslik</td>
                        <td>@gosterge.SorumluBirim</td>
                        <td>@gosterge.HedefeEtkisi</td>
                        <td>@gosterge.Baslangic</td>
                        <td></td>
                        <td>@gosterge.Yil1G</td>
                        <td></td>
                        <td>@gosterge.Yil2G</td>
                        <td></td>
                        <td>@gosterge.Yil3G</td>
                        <td></td>
                        <td>@gosterge.Yil4G</td>
                        <td></td>
                        <td>@gosterge.Yil5G</td>
                        <td></td>
                        <td></td>
                    </tr>
                }

            }
        }

       
   
    </tbody>
</table>

